# Mail Settings (SMTP)
# Get these from your email provider (e.g., Gmail, Outlook, or private server)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=system.fabricaloft@gmail.com
SMTP_PASSWORD=adxiuwqdxoguwtsu
SMTP_FROM_NAME="ERP System"
EMAILS_FROM_EMAIL=system.fabricaloft@gmail.com
